<template name="home">

	<div class="jumbotron">
	      <div class="container">
	        <h1>Welcome to project Mango</h1>
	        <p>???</p>
	        <p><a class="btn btn-primary btn-lg" href="/add-stats" role="button">Learn more &raquo;</a></p>
	      </div>
	    </div>
	    <div class="container">
	      <!-- Example row of columns -->
	      <div class="row">
	        <div class="col-md-4">
	          <h2>Heading</h2>
	          <p>Thing one </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	        <div class="col-md-4">
	          <h2>Heading</h2>
	          <p>thing 2 </p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	       </div>
	        <div class="col-md-4">
	          <h2>Heading</h2>
	          <p>thing 3</p>
	          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	        </div>
	      </div>
	</div> <!-- /container -->
</template>